[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CTE"]
	path = CTE
	url = https://github.com/cran/CTE
[submodule "SNMA"]
	path = SNMA
	url = https://github.com/cran/SNMA
